{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
    <div class="container col-xxl-8 px-4 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'about/cvet1.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Интернет магазин Цветочный домик</h1>
                <p class="lead">Интернет магазин цветов «Цветочный домик» предлагает жителям Иваново и других регионов
                    приобретать свежие цветы и букеты в ассортименте с доставкой на лучших условиях. Закажите у наших
                    флористов свою уникальную композицию, которая соответствует созданию торжественной атмосферы,
                    наполняя любые помещения неповторимыми и уникальными ароматами. Обращайтесь к менеджерам компании,
                    если хотите приобрести понравившийся вам букет в Иваново. Мы с удовольствием обсудим детали
                    поставки, вашу оригинальную идею, способствующую воплощению самых смелых мечтаний.</p>
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Букеты для любых ситуаций</h1>
                <p class="lead">Современный ритм жизни не обходится без выразительного «языка цветов», сохранившего свою
                    актуальность. Цветы являются ассоциацией с нежностью и страстью, виной и смирением, благодарностью и
                    любовью. Вы не знакомы с понятием цветовой гаммы? Это не проблема. Обратившись к нашим специалистам,
                    вы получите услугу по индивидуальному созданию букета, с учетом вкусов и возраста получателя, в
                    соответствии с конкретным поводом для презента.</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'about/cvet2.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    <div class="bg-secondary text-dark bg-opacity-50 px-4 py-5 text-center">
        <div class="py-5">
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Мы поможем реализовать даже спонтанно пришедшую мысль об отправлении цветочной
                    композиции. Наш коллектив состоит из опытных водителей и курьеров, которые помогут передать вашей
                    любимой, подруге сюрприз, который поднимет настроение. Заказ цветов онлайн возможно в любых стилях,
                    от романтического до эпатажного, от оригинального до классического. Мы позаботимся о реализации всех
                    фантазий, о максимальном удовольствии и комфорте.
                </p>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'about/cvet3.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Выбирайте упаковку</h1>
                <p class="lead">В нашем магазине цветов большой выбор упаковок, коробок, корзин, поэтому мы поможем
                    найти решение, соответствующее любым ситуациям. Заказывайте композицию в коробке, для свадьбы,
                    годовщины, дня рождения или другого торжества, собирающего много гостей. Благодаря коробке
                    композиция
                    будет дольше оставаться свежей, даже без вазы. Эта проблема нередко вызывает затруднения, не только
                    в
                    месте, выбранном для мероприятия, но и в домашних условиях. Коробка является универсальным
                    вариантом,
                    одинаково хорошо выглядящим на полке или столе, иных поверхностях. Букет будет хорошо заметен, в
                    сочетании с другими яркими красками, иными цветочными композициями. Он сохранит собственную
                    микрофлору,
                    продлевающую жизнь цветов.</p>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-dark bg-opacity-50 text-center">
        <div class="py-5">
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Корзинки также выделяются нарядным, торжественным, интересным видом. Они удобны при
                    носке, идеально сочетаются с
                    любыми соцветиями. Корзинки укомплектованы, аналогично коробкам, губкой – оазисом, напитывающимся
                    влагой и
                    сохраняющим жизнь растений длительней, в сравнении с обычной водой. Выбирая упаковку для букета,
                    следует
                    подумать о сохранении свежести, удобстве носки, чтобы спокойно прислонять к себе и не намокнуть.
                    Цветы
                    отличаются нежностью, трепетностью, подходят для свиданий и комплиментов.
                </p>
            </div>
        </div>

    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'about/cvet4.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Наша специализация заключается в отличном настроении!</h1>
                <p class="lead">Человек, который дарит цветы, должен поделиться положительными эмоциями, обусловленным
                    внешней красотой и
                    неповторимым ароматом. Розы ассоциируются с приятными мыслями, ромашки помогают успокоиться,
                    вспомнить о счастливых
                    моментах жизни. Яркость ароматных ноток, присущая пионам, наполняет хорошим настроением. Цветов
                    много, но нельзя
                    забывать о правильной презентации. Оформление букета напрямую влияет на ощущения, свойственные
                    получателю.</p>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-dark bg-opacity-50 text-center">
        <div class="py-5">
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Наш магазин цветов обеспечивает помощью компетентных флористов, сопроводительными
                    открытками и прочими приятными аксессуарами, своевременной доставкой, тщательно продуманным
                    сервисом.
                </p>
            </div>
        </div>

    </div>
    <h1 class="text-center my-5">Преимущества интернет магазина «Цветочный домик»</h1>
    <div class="col-lg-12 text-center container">
        <p class="lead">Наш магазин цветов предоставляет гарантию качества реализуемой нами продукции, подтверждающегося множеством
        благодарных отзывов. Доставьте радость своим близким благодаря букету, созданному руками умельца флористики,
        оригинальной и классической цветочной композиции. Наши преимущества обусловлены:</p>
    </div>

    <ul class="list-group list-group-flush list-group-horizontal container">
        <li class="list-group-item list-group-item-action list-group-item-secondary">Возможностью заказа оптовых и розничных партий цветов</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Дружной и умелой командой опытных профессионалов</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Обширным выбором цветов, соответствующим любым вкусам и предпочтениям</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Возможностью оплаты удобными покупателю способами</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Постоянными скидками, акциями, предназначенными постоянным и новым клиентам</li>
        <li class="list-group-item list-group-item-action list-group-item-secondary">Оперативной доставкой, соответствующей пожеланиям заказчиков</li>
    </ul>
    <div class="col-lg-12 text-center container my-5">
        <p class="lead">Наша компания обеспечивает взаимовыгодную основу сотрудничества, важную для постоянных заказчиков и благодарных покупателей. В основе нашей деятельности лежит ответственный подход к делу, внимательное отношение к клиентам. Современные тенденции флористики соответствуют неугасающей моде живописных букетов, отличающихся оформлением. Мы порадуем вас изумительным цветочным набором, чтобы восхитить свою возлюбленную, потрясающим букетом, соответствующим юбилею или именинам.
</p>
    </div>
        <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'about/cvet5.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <p class="lead">Мы подберем цветочный букет вашим друзьям или коллегам, вашей возлюбленной или маме. Если у вас не хватает времени, чтобы сделать выбор подарка, воспользуйтесь доставкой цветов, организованной магазином цветов «Цветочный домик» в Иваново. Цветы с доставкой являются универсальным способом, чтобы продемонстрировать свои чувства. Обращайтесь к нам, чтобы порадовать именинника цветочной композицией, которая станет воплощением вашего искреннего отношения.</p>
            </div>
        </div>
    </div>
{% endblock %}