{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

    <div>
        <h3 class="text-center">Категории</h3>
        <ul class="nav nav-pills nav-fill">

            {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ c.get_absolute_url }}"><img class="h-75" src="{{ c.img.url }}"/></a>

                </li>
            {% endfor %}
        </ul>

    </div>
    <div>
        <h3 class="text-center my-3">{% if category %}{{ category.name }}{% else %}Продукты{% endif %}</h3>
    {% for product in products %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 d-flex justify-content-around text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">

            <ul class="list-unstyled ">
              <a class="" href="{{ product.get_absolute_url }}"><img class="card-img" src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></a>
            </ul>
              <a class="w-100 btn btn-lg opacity-75" href="{{ product.get_absolute_url }}"><h4 class="text-dark my-0 fw-normal">{{ product.name }}</h4></a>
              <h1 class="card-title pricing-card-title">{{ product.price }}<small class="text-muted fw-light">RUB</small></h1>
            <a href="{{ product.get_absolute_url }}" type="button" class="w-100 btn btn-lg btn-secondary" formaction="">Перейти к товару</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}